h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0%;
  }
  .mobile-menu__close-icon {
    transition: fill var(--transition-dur-and-func);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-bottom: -4px;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity var(--transition-dur-and-func);
}

.mobile-menu__current:hover::after {
  opacity: 1;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-social-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 100px;
  margin-top: 10px;
}

.mobile-menu-social-link__linkedin {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.secondary-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .secondary-title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px;
}

.modal-button-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal-button-close-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-button-close:hover .modal-button-close-icon, .modal-button-close:focus .modal-button-close-icon {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  display: block;
  transform: translate(0, -50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #2196f3;
}

.modal-form-massage {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form-massage::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-massage:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  background-image: url(../img/Vector.svg);
  transition: background-image var(--transition-dur-and-func);
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../img/icon_check.svg);
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid #2196f3;
  border-radius: 2px;
}

.modal-form-check-desc-link {
  color: #2196f3;
  text-decoration-line: underline;
}

.modal-form-button-submit {
  font-weight: 700;
  font-size: 16px;
  align-self: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 52px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), border-radius var(--transition-dur-and-func);
}
.modal-form-button-submit:hover, .modal-form-button-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-nav-container {
    display: none;
  }
  .list-contact {
    display: none;
  }
}
.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-logo-color);
}

.logo-word {
  color: #2196f3;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0%;
}

.mobile-menu-open__icon {
  transition: fill var(--transition-dur-and-func);
}
.mobile-menu-open:hover .mobile-menu-open__icon, .mobile-menu-open:focus .mobile-menu-open__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__logo {
    margin-right: 87px;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:focus, .menu__link:hover {
    color: #2196f3;
  }
  .current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-bottom: -3px;
    background-color: #2196f3;
  }
  .list-contact {
    display: flex;
    flex-direction: column;
  }
  .list-contact__item-mail {
    margin-bottom: 10px;
  }
  .list-contact__mail-header {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-dur-and-func);
  }
  .list-contact__mail-header:hover, .list-contact__mail-header:focus {
    color: #2196f3;
  }
  .list-contact__icon {
    margin-right: 8px;
    align-self: center;
    fill: currentColor;
  }
  .list-contact__tel-header {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-dur-and-func);
  }
  .list-contact__tel-header:hover, .list-contact__tel-header:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .page-header__logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
  .list-contact {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-contact__tel-header {
    justify-content: center;
  }
  .list-contact__item-mail {
    margin-bottom: 0;
  }
  .list-contact__mail-header {
    margin-right: 30px;
    margin-left: auto;
  }
  .current::after {
    margin-bottom: -1px;
  }
}
.hero {
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-img-mobile.jpg);
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-img-mobile@2x.jpg);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 360px;
}

.hero__main-btn {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), border-radius var(--transition-dur-and-func);
}
.hero__main-btn:hover, .hero__main-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-img-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-height: 600;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-img-desktop.jpg);
  }
  .hero__main-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-img-desktop@2x.jpg);
  }
}
.about-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .about-list__item {
    width: 354px;
  }
  .about-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .section-about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-list {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}
.gallery-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-list__overlay {
  position: relative;
}

.gallery-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.employee-card {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-retreat {
  padding-top: 30px;
  padding-bottom: 24px;
}

.employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.work-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 1200px) {
  .employee-retreat {
    padding-bottom: 30px;
  }
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid #2196f3;
}

.clients-list-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.clients-list-link:hover .clients-list-icon, .clients-list-link:focus .clients-list-icon {
  fill: #2196f3;
}

.footer {
  background-color: var(--dark-background-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-nav {
  display: flex;
  align-items: baseline;
}

.footer-nav-container {
  margin-right: 70px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-logo-color);
}

.adress-footer {
  font-style: normal;
  width: 231px;
  margin-top: 20px;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-adress-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--transition-dur-and-func);
}
.contact-adress-footer:hover, .contact-adress-footer:focus {
  color: #2196f3;
}

.contact-mail-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.contact-mail-footer:hover, .contact-mail-footer:focus {
  color: #2196f3;
}

.contact-tel-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.contact-tel-footer:hover, .contact-tel-footer:focus {
  color: #2196f3;
}

.footer-place {
  display: flex;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-list-icon {
  fill: #ffffff;
}

.footer-social-links {
  margin-right: 93px;
}

.footer-sub-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-sub-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  margin-right: 12px;
  caret-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-sub-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-sub-place {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-sub-btn {
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), border-radius var(--transition-dur-and-func);
}
.footer-sub-btn:hover, .footer-sub-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-sub-btn-icon {
  fill: #ffffff;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.portfolio-btn-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-portfolio {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), border-radius var(--transition-dur-and-func);
}
.btn-portfolio:hover, .btn-portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-card {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow var(--transition-dur-and-func);
}
.projects-card:hover, .projects-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card:hover .project-overlay,
.projects-card:focus .project-overlay {
  transform: translate(0, 0);
}

.project-card-wrapper {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project-card-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.type-of-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --dark-background-color: #2F303A;
  --black-logo-color: #000000;
  --white-logo-color: #FFFFFF;
  --primary-text-color: #212121;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */