.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.employee-card {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-retreat {
  padding-top: 30px;
  padding-bottom: 24px;
}

.employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.work-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .employee-retreat {
    padding-bottom: 30px;
  }
}
