.secondary-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.83;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);    
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .secondary-title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
}
